.create_list_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create_list {
    width: 600px;
    height: 600px;

    display: flex;
    flex-direction: column;
}

.create_list button {
    font-family: 'Bree Serif', serif;
}