.heading {
    font-weight: 600;
    font-size: 28px;
    font-family: 'Bree Serif', serif;
}

.description {
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    border-radius: 15px;
    font-family: 'Bree Serif', serif;
}