<div class="home_page">
    <div class="home_heading">
        Min-List
    </div>
    <div class="description">
        <p>
            Welcome to our minimalist todo list web app! Our app is designed to help you stay organized and focused on
            your
            tasks without any distractions. With a simple and intuitive user interface, you can easily create and manage
            your to-do list without any unnecessary bells and whistles.
        </p>
        <p>
            Our app is perfect for anyone who wants a clean and uncluttered interface to keep track of their tasks.
            Whether
            you're a busy professional, a student with a lot on your plate, or just someone who wants to stay on top of
            their daily tasks, our app is the perfect solution for you.
        </p>
        <p>
            Creating a new task is as easy as typing in a short description and pressing the "Add" button. You can then
            mark
            tasks as completed, delete them, or simply leave them on your list until you're ready to tackle them.
        </p>
        <p>
            With our minimalist design, you can focus on what's truly important - your tasks. Say goodbye to distracting
            graphics, animations, and unnecessary features. Our app is all about helping you stay organized and
            productive
            with the least amount of effort.
        </p>
        <p>
            So what are you waiting for? Sign up now and start getting things done with our minimalist todo list web
            app.
        </p>
    </div>
    <div class="button_container">
        <a mat-raised-button color="primary" href="/login">Login</a>
        <a mat-raised-button color="primary" href="/signup">Signup</a>
    </div>
</div>